<html lang="en">
  <head>
  	<title>display_students</title>
  	<link rel="stylesheet" href = "students.css">
  	<!-- <script src="stuDB.js"></script> -->
  </head>
      <body>
      <div id = "background"></div>
      <div id = "home"><a href="students.html">Home</a></div>
      <div id = "readme"><a href="readme.html">ReadMe</a></div>

      <form id = "form4" style="padding:5px;margin-top:40px;margin-left:25px" action="search">
        Select <select name="name_search">
          <% for(var i=0;i<s.rows.length;i++){%>
            <option value= <%= s.rows[i].name%>><%= s.rows[i].name%></option>
          <% } %>
        </select> to
        <input type="submit" name ="Edit" id ="Edit" value = "Edit">
      </form>

        <div id = "background_div" style="border-style:solid;margin-top:20px;margin-left:25px;border-width:1px;min-height:350px;min-width:600px;">
          <table style="padding:20px;">
            <% for(var row=0;row<=s.rows.length/5;row++){%>
            <tr>
              <% for(var i=row*5;i<(row+1)*5&&i<s.rows.length;i++){%>
                <td style="padding-left:10px;" valign="bottom">

                  <% var scale=0.65 %>
                  <% var div_style="width:"+s.rows[i].weight*scale+"px;height:"+s.rows[i].height*scale*4+"px;padding-top:30px;position:relative;border-style:solid;border-width:1px;text-align:center;font-family:helvetica" %>

                  <div style= <%= div_style %>>
                    <font color= <%=s.rows[i].haircolor %> ><%= s.rows[i].name %></font>
                    <br><%=s.rows[i].gpa.toFixed(1); %>
                  </div>
                </td>
              <% } %>
            </tr>
            <% } %>

          </table>
        </div>
    </body>
</html>
<!-- line-height:40px -->
