<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>search_update</title>
  	<link rel="stylesheet" href = "students.css">
  	<script src="stuDB.js"></script>
  </head>
  <body>
  	<div id = "background"></div>
  	<div id = "home"><a href="students.html">Home</a></div>
  	<!-- <div id = "database"><a href="display_students.html">Display</a></div> -->
  	<div id = "readme"><a href="public/readme.html">ReadMe</a></div>


    <% var gender=s.rows[0].gender %>
  	<form id = "form1" class="form" action="edit">
  		<p id = "message1"><b>Please fill out the student's info to update, or delete</b></p>
      Student 
      <input type="text" name="name_old" class="text" readonly value= <%= s.rows[0].name %> ><br>
  		name:
  		<input type="text" name="name" class="text" value= <%= s.rows[0].name %>><br>
  		gender:
  		<input type="radio" name="gender" value="M" <% if(gender=='M'){%> checked <% } %>> Male
    		<input type="radio" name="gender" value="F" <% if(gender=='F'){%> checked <% } %>> Female
    		<input type="radio" name="gender" value="O" <% if(gender=='O'){%> checked <% } %>> Other<br>
  		weight:
  		<input type="number" name="weight" class = "number" min=0.0 value= <%= s.rows[0].weight %>><br>
  		height:
  		<input type="number" name="height" class = "number" min=0.0 value= <%= s.rows[0].height %>><br>
  		Hair color:
  		<input type="color" name="haircolor" value= <%= s.rows[0].haircolor %>><br>
  		gpa:
  		<input type="number" name="gpa" class="number" min=0.0 step="0.01" value= <%= s.rows[0].gpa %>><br>

  		<input type="submit" name ="Update" id ="Update" value = "Update">
      <input type="submit" name="Delete" id="Delete" value="Delete">
  	</form>

  </body>
</html>
